body {
  background-color: steelblue;
  height: 500px;
  width: 890px;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: lighten;
  font-weight: bold;
  font-family: 'Saira', sans-serif;
  padding: 0px;
  margin: 100px 150px 200px 150px;
  text-align: center;
}

.image-text2 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.centered-container2 {
  max-width: 1020px;
  margin: 0px auto;
  padding: 0px 8px;
}

.body2 {
  background-color: steelblue;
  height: 500px;
  width: 890px;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: lighten;
  font-weight: bold;
  font-family: 'Saira', sans-serif;
  padding: 0px;
  margin: 100px 150px 200px 150px;
  text-align: center;
}

.body2 h3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.body2 p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.img {
  background-blend-mode: lighten;
  width: 200px;
  height: 100px;
}

.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: justify;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .wrapper2 {
    width: 50%;
    float: left;
  }
}
